.message {
  display: flex;
  margin: 8px 0;

  .bubble {
    background-color: #ffffff;
    padding: 10px 16px;
    margin: 4px 0;
    border-radius: 18px;
    max-width: 80%;
    font-size: 14px;
    color: #1f1f1f;
    word-wrap: break-word;
    line-height: 1.4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    animation: fadeInUp 0.3s ease;
    background-color: #ffffff;
    border-bottom-left-radius: 6px;

    img,
    video {
      max-width: 100%;
      border-radius: 8px;
    }

    audio {
      width: 100%;
    }

    a {
      color: #3880ff;
      text-decoration: underline;
    }

    ion-icon {
      font-size: 20px;
      margin-right: 6px;
    }
  }

  &.mine {
    justify-content: flex-end;

    .bubble {
      background-color: #4A90E2;
      color: #fff;
      border-bottom-right-radius: 6px;

      a {
        color: white;
      }

      ion-icon {
        color: white;
      }
    }
  }
}

.attachment-options {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;

  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    font-size: 18px;
  }
}
