<ion-header [translucent]="true" class="enhanced-header">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isLoggedIn">
      <ion-back-button default-href="/home" class="enhanced-back" 
        text="" icon="arrow-back" mode="ios">
      </ion-back-button>
    </ion-buttons>
    
    <ion-title class="creative-center-title">
      <span class="title-3d">{{ title }}</span>
    </ion-title>
    
    <ion-buttons slot="end" *ngIf="isLoggedIn && !isHome">
      <ion-button (click)="goHome()" class="floating-home">
        <ion-icon name="home-sharp" class="home-3d"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>