<app-header [title]="'🔃 Recovery password'"></app-header>

<ion-content class="page-content" fullscreen="true">
    <div class="card slide-up">
      <h2 class="subtitle">Forgot your password?</h2>
      <p class="description">
        Don't worry, enter your email and we'll send you a link to reset it.
      </p>
      <div class="card-decoration"></div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-input formControlName="email" [type]="'email'" [placeholder]="'Enter your email'" [label]="'Email'"
                   [icon]="'mail-outline'"></app-input>
        <div class="button-group">
          <ion-button expand="block" class="send-button" type="submit" [disabled]="form.invalid">
            Send enlace
          </ion-button>

          <ion-button expand="block" class="back-button" fill="outline" (click)="goBack()">
            Cancel
          </ion-button>
        </div>
      </form>
    </div>
</ion-content>
