<ion-header class="contact-detail-header">
  <ion-toolbar>
    <ion-title class="text-center">Detalle de Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-detail-page">
  <div class="container">
    @if (contact) {
      <div class="contact-card">
        <h2>{{ contact.user.name }} {{ contact.user.lastname }}</h2>
        <p><strong>Teléfono:</strong> {{ contact.user.phone }}</p>
      </div>

      <ion-button expand="block" class="edit-button" (click)="openEditionModal()">
        Editar contacto
      </ion-button>
    }
  </div>
</ion-content>
