<app-header [title]="'👤 Contact Detail'" [isLoggedIn]=true></app-header>

<ion-content class="contact-detail-page">
  <div class="container">
    @if (contact) {
      <app-img-load [contact]="contact"></app-img-load>
      <div class="card-contact slide-up">
        <div class="card-decoration"></div>
        <p>({{ contact.nickname }})</p>
        <h2 class="contact-name">{{ contact.user.name }}  {{contact.user.lastname}}</h2>
        <div class="contact-detail">
          <ion-icon name="call-outline" class="detail-icon"></ion-icon>
          <p>{{ contact.user.phone }}</p>
        </div>
        <div class="contact-detail" *ngIf="contact.user.email">
          <ion-icon name="mail-outline" class="detail-icon"></ion-icon>
          <p>{{ contact.user.email }}</p>
        </div>
      </div>
      <app-actions-buttons (clicked)="openEditionModal()" (otherClicked)="call(contact.user.phone)" [icon]="'videocam-outline'" ></app-actions-buttons>
    }
  </div>
</ion-content>
