<ion-content class="login-page" [scrollY]="false" fullscreen>
  <div class="login-container">
    <div class="login-header">
      <h1>Welcome Back</h1>
      <p>Please sign in to continue</p>
    </div>

    <form class="login-form" (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <ion-item lines="none" class="input-wrapper">
        <ion-input
          type="email"
          placeholder="Email Address"
          formControlName="email"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-wrapper">
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        ></ion-input>
      </ion-item>

      <div class="forgot-password">
        <a (click)="goToForgot()">Forgot Password?</a>
      </div>

      <ion-button
        expand="block"
        type="submit"
        class="login-button"
        [disabled]="loginForm.invalid"
      >
        Sign In
      </ion-button>

      <div class="signup-text">
        Don't have an account? <ion-button (click)="goToRegister()">Sign Up</ion-button>
      </div>
    </form>
  </div>
</ion-content>
