<ion-content [fullscreen]="true" class="ion-padding login-bg">
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Log in</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              required
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            class="ion-margin-top"
            [disabled]="loginForm.invalid"
          >
            Login
          </ion-button>
        </form>

        <div class="ion-text-center ion-margin-top">
          <a (click)="goToRegister()">Don't have an account? Sign up</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
