<ion-content [fullscreen]="true" class="ion-padding register-bg">
  <div class="register-container">
    <ion-card class="register-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Sign Up</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              type="text"
              formControlName="name"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Lastname</ion-label>
            <ion-input
              type="text"
              formControlName="lastname"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input
              type="number"
              formControlName="phone"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirm password</ion-label>
            <ion-input
              type="password"
              formControlName="confirmPassword"
              required
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            class="ion-margin-top"
            [disabled]="registerForm.invalid"
          >
            Signup
          </ion-button>
        </form>

        <div class="ion-text-center ion-margin-top">
          <a (click)="goToLogin()">Already have an account? Sign in</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
