<app-header [title]="'➕ Sign Up'"></app-header>

<ion-content [fullscreen]="true" class="page-content">
  <app-img-load [imageUrl]="previewImage" (select)="pickImage()"></app-img-load>
  <div class="card slide-up">
    <div class="card-decoration"></div>
    <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
      <app-input [label]="'Email'" formControlName="email" [icon]="'mail-outline'"
                 [placeholder]="'Enter the email'" [type]="'email'"></app-input>

      <app-input [label]="'Name'" formControlName="name" [icon]="'person-outline'"
                 [placeholder]="'Enter the name'"></app-input>

      <app-input [label]="'Lastname'" formControlName="lastname" [icon]="'person-outline'"
                 [placeholder]="'Enter the lastname'"></app-input>

      <app-input [label]="'Phone'" formControlName="phone" [icon]="'call-outline'"
                 [placeholder]="'Enter the phone'" [type]="'tel'"></app-input>

      <app-input [label]="'Password'" formControlName="password" [icon]="'lock-closed-outline'"
                 [placeholder]="'Enter the password'" [type]="'password'"></app-input>

      <app-input [label]="'Confirm password'" formControlName="confirmPassword" [icon]="'lock-closed-outline'"
                 [placeholder]="'Confirm the password'" [type]="'password'"></app-input>

      <ion-button
        expand="block"
        type="submit"
        class="ion-margin-top"
        [disabled]="registerForm.invalid"
      >
        Signup
      </ion-button>
      <a (click)="goToLogin()" class="btn-signup">Already have an account? Sign in</a>
    </form>
  </div>
</ion-content>
