<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (action === 'update') {
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" placeholder="Joe Doe"></ion-input>
    </ion-item>
  }

  <ion-item>
    <ion-label position="floating">Phone</ion-label>
    <ion-input formControlName="phone" placeholder="555555"></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" [disabled]="form.invalid && action !== 'read'">
    {{ actionLabel }}
  </ion-button>

  <ion-button *ngIf="showDelete" expand="block" color="danger" (click)="onDelete()">
    Delete
  </ion-button>

  <ion-button expand="block" color="warning" (click)="cancel()">
    Cancel
  </ion-button>
</form>
